<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- Laravel rewrite rule -->
    <rewrite>
      <rules>
        <rule name="Laravel" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <!-- Allow PHP with all HTTP verbs -->
    <handlers>
      <add name="PHP via FastCGI" path="*.php" verb="GET,HEAD,POST,PUT,DELETE,PATCH" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\php-8.3.24\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>

  </system.webServer>
</configuration>
